@model Kutse_App.Models.Holidays

@{
    ViewBag.Title = "DetailsHoliday";
}

<h2>DetailsHoliday</h2>

<div>
    <h4>Holidays</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoliName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoliName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolidayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
